---
import "../../../../src/styles/global.css";
import {
  titlePageStore,
  iconNavegadorStore,
  descriptionStore,
  keywordsStore,
  urlStore,
  imageStore,
} from "../../../config/0-Cliente-Configuracion/configuracion";

// Obtén el path actual
const path = Astro.url.pathname;

// Maneja el caso especial para la ruta raíz
const formattedPath =
  path === "/"
    ? "Inicio"
    : path
        .replace(/^\/|\/$/g, "")
        .replace(/-/g, " ")
        .toUpperCase();

// Crea el título final
const title = `${titlePageStore} - ${formattedPath}`;
---

<head>
  <meta charset="utf-8" />
  <meta name="description" content={descriptionStore} />
  <meta name="keywords" content={keywordsStore} />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href={urlStore} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={descriptionStore} />
  <meta property="og:image" content={imageStore} />
  <meta property="og:url" content={urlStore} />
  <link rel="icon" type="image/svg+xml" href={iconNavegadorStore} />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
